
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by <a href="https://stavthal.github.io" class="ref">Stavthal</a></p>
    <a href="https://www.facebook.com/soa2389/" class="social-icon fa-brands fa-facebook fa-2x"></a>
    <a href="https://www.twitter.com/stavthal" class="social-icon fa-brands fa-twitter fa-2x"></a>
    <a href="https://www.linkedin.com/in/stavros-thalassinos/" class="social-icon fa-brands fa-linkedin fa-2x"></a>
    <a href="https://github.com/stavthal?tab=repositories" class="social-icon fa-brands fa-github fa-2x"></a>
  </div>
</div>
</body>
</html>
