<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Hearthcollector</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="icon" href="https://d2q63o9r0h0ohi.cloudfront.net/_next/static/images/favicon-26fee764260df962d89ab55cd879bc81.ico">

  

  <!-- Font Awesome kit-->
  <script src="https://kit.fontawesome.com/b69ca0a4dc.js" crossorigin="anonymous"></script>


  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Montserrat:wght@400;500;700;900&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav  class="navbar bg-dark">
    <div id="hearthstone-logo-big">
      <a  href="https://hearthstone.blizzard.com/en-us"><img width=300 src="hs-logo.png"></a>
    </div>
    <div id="hearthstone-logo-nathria">
      <a  href="https://hearthstone.blizzard.com/en-us"><img width=300 src="murder-at-castle.png"></a>
    </div>
    <div>
    <a class="navbar-brand" href="/about">
      <img class="me-auto" src="/hs-emblem.png" width="40" height="40" class="d-inline-block align-top" alt="hearthstone logo">
    </a>
    <div class="heading">
      <h1><a style="color:white ;text-decoration: none;" href="/">Hearthcollector</a></h1>
    </div>
  </div>
  </nav>

  <body>
    <div class="container">
