<%- include("partials/header.ejs"); %>

<div class="about-section" >
<h1 class="about-h1">About</h1>

<p>I am Stavros Thalassinos and I made this application that communicates
    with the Hearthstone API from RapidAPI made by omgvamp. The API has been
    discontinued and has not been updated further since August 2021 and will contain content up to the "United in Stormwind" expansion. This is just
    a tool I made out of pure love about the game that I have spent so many
    hours on. A lot of endpoints have already stopped working since the day I started developing this app.
</p>
<a href="/" class="about-home btn btn-danger">Home</a>
</div>

<%- include("partials/footer.ejs"); %>
