<%- include('partials/header.ejs'); %>

<div style="text-align: center; margin-bottom: 3rem">
  <h1>
    Select the cardset that you want to view the cards from in the dropdown list
  </h1>
</div>
<div style="text-align: center" class="cardsets-container">
  <form id="cardset-form" method="post" action="/cardsets">
    <label style="color: white" for="cardset">Choose a cardset:</label><br />
    <select name="cardset" id="cardset">
      <option value="" disabled selected>Please select a cardset</option>
      <option value="Basic" class="cardset-option">Basic</option>
      <option value="Classic" class="cardset-option">Classic</option>
      <option value="Hall of Fame" class="cardset-option">Hall of Fame</option>
      <option value="Naxxramas" class="cardset-option">Naxxramas</option>
      <option value="Goblins vs Gnomes" class="cardset-option">
        Goblins vs Gnomes
      </option>
      <option value="Blackrock Mountain" class="cardset-option">
        Blackrock Mountain
      </option>
      <option value="The Grand Tournament" class="cardset-option">
        The Grand Tournament
      </option>
      <option value="The League of Explorers" class="cardset-option">
        The League of Explorers
      </option>
      <option value="Whispers of the Old Gods" class="cardset-option">
        Whispers of the Old Gods
      </option>
      <option value="One Night in Karazhan" class="cardset-option">
        One Night in Karazhan
      </option>
      <option value="Mean Streets of Gadgetzan" class="cardset-option">
        Mean Streets of Gadgetzan
      </option>
      <option value="Journey to Un'Goro" class="cardset-option">
        Journey to Un'Goro
      </option>
      <option value="Knights of the Frozen Throne" class="cardset-option">
        Knights of the Frozen Throne
      </option>
      <option value="Kobolds and Catacombs" class="cardset-option">
        Kobolds and Catacombs
      </option>
      <option value="The Witchwood" class="cardset-option">
        The Witchwood
      </option>
      <option value="The Boomsday Project" class="cardset-option">
        The Boomsday Project
      </option>
      <option value="Rastakhan's Rumble" class="cardset-option">
        Rastakhan's Rumble
      </option>
      <option value="Rise of Shadows" class="cardset-option">
        Rise of Shadows
      </option>
      <option value="Saviors of Uldum" class="cardset-option">
        Saviors of Uldum
      </option>
      <option value="Descent of Dragons" class="cardset-option">
        Descent of Dragons
      </option>
      <option value="Ashes of Outland" class="cardset-option">
        Ashes of Outland
      </option>
      <option value="Scholomance Academy" class="cardset-option">
        Scholomance Academy
      </option>
      <option value="Madness at the Darkmoon Faire" class="cardset-option">
        Madness at the Darkmoon Faire
      </option>
      <option value="Forged in the Barrens" class="cardset-option">
        Forged in the Barrens
      </option>
      <option value="United in Stormwind" class="cardset-option">
        United in Stormwind
      </option>
      <option value="Fractured in Alterac Valley" class="cardset-option">
        Fractured in Alterac Valley
      </option>
      <option value="Voyage to the Sunken City" class="cardset-option">
        Voyage to the Sunken City
      </option>

      <input type="text" id="hidden-text" style="visibility: hidden" value="" />
    </select>
  </form>
  <div style="justify-content: center; text-align: center; align-items: center">
    <p style="margin-top: 3rem">
      <a href="/" class="btn btn-danger">Return to home</a>
    </p>
  </div>

  <br />
  <br />
  <br />
</div>

<script>
  var a = document.getElementById("cardset");
  a.addEventListener(
    "change",
    function () {
      // console.log(this.value);
      document.querySelector("#hidden-text").value = this.value;
      document.getElementById("cardset-form").submit();
    },
    false
  );
</script>

<%- include('partials/footer.ejs'); %>
