<%- include('partials/header') %>

<div class="container-fluid" id="main-div" style="text-align: center; margin-bottom: 2rem;">
    <a style="margin: 1rem;" href="/" class="btn btn-info">Return to home</a>
<div style="text-align: center;">

    <% cards.forEach(function(card) { %>
    <% if (card.img != null) { %>
        <img class="rendered-image" src="<%=card.img%>"></img>
    <%}%>
     <% }) %>
</div>
</div>
</div>
</body>
</html>





