<%- include('partials/header.ejs'); %>

<div style="text-align: center" class="singlecard">
  <form
    autocomplete="off"
    style="padding-top: 10rem"
    method="post"
    action="/singlecard"
  >
    <label style="display: inline-block" name="card"
      >Enter the name of the card:</label
    >
    <p><input style="color: black" type="text" name="card" value="" /></p>

    <br />
    <button class="btn btn-info">Submit!</button>
  </form>
  <div style="justify-content: center; text-align: center; align-items: center">
    <p style="margin-top: 3rem">
      <a href="/" class="btn btn-danger">Return to home</a>
    </p>
  </div>
</div>

<%- include('partials/footer.ejs'); %>
